* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 25px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    padding: 0 25px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);
    height: 700px;
}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.container-section {
    text-align: center;
}

.architect-container {
    max-width: 862px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.architects-title {
    font-weight: 700;
    font-size: 50px;
    color: #131313;
}

.feature-description,
.architects-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;


}

.special-title {
    font-weight: 700px;
    font-size: 1.3em;
}

.button-styles {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.button-styles:hover {
    background-color: #055C9D;
    color: #F3F3F3;
    font-size: 1.2em;
}

.banner img {
    max-width: 800px;
    width: 100%;
    margin-left: 250px;
    margin-right: 300px;
}

.Feature {
    height: 320px;
    margin-left: 30px;
    text-align: left;
}

.Feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #131313;
}


.Feature-container {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 90px;
}

.photo-gallary {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 7px;
}

.experience {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* margin-left: auto;
    margin-right: 600px;
    margin-top: 100px; */


}

.experience-title {
    margin-bottom: 27px;
    font-weight: 500px;
    font-size: 2em;
    border-left: 3px solid #FF900E;

}

.padder {
    margin-left: 10px;
}

.experienced {
    /* width: 250px; */


}

.experiences {
    width: 250px;
    margin-bottom: 25px;
    box-shadow: 5px 10px #F3F3F3;
    border-radius: 5px;

}

.experience-description {
    margin-bottom: 30px;
    color: #727272;
}

.experiences-container {
    width: 500px;

}

.version-description {
    color: #727272;
}

.architect img {
    height: 850px;
    width: 400px;
}

.architects-level {
    width: 150px;
    height: 100px;
    background-color: #FF900E;
    padding: 20px;
    color: #F3F3F3;
    border-radius: 10px;
    transition: 0.4s;

}

.architects-level:hover {
    background-color: #000C66;
    color: #75E6DA;
    font-size: 1.2em;
}

.version-tittle {
    margin-bottom: 27px;
}



.facts-container {
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: 100px;

}

.work-container {
    display: flex;
    justify-content: space-around;

    margin-left: 150px;
}

.works {
    border: #FF900E solid;
    height: 200px;
    width: 200px;

}

.work {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    transition: 0.4s;
}

.work:hover {
    transform: scale(1.2);
    background-color: #000C66;
    color: #F3F3F3;
    font-size: 1.5em;
    border-radius: 15px;

}

.sponsor-title {
    margin-bottom: 10px;

}

.sponsors-description {
    color: #727272;
}

.sponsors {
    margin-top: 150px;
}

.sponsors-container {
    text-align: center;
    margin-bottom: 50px;

}

.sponsors-logo {
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
    margin-bottom: 50px;

}

.transformed {
    transition: 0.4s;
}

.transformed:hover {
    transform: scale(1.2);
}

.sponsors-logo img {
    filter: grayscale(1);
}

.footer-part {
    width: 100%;
    max-width: 1000px;
    background-color: #FFF4E7;
    height: 100px;
    margin-left: 200px;


}

.footer-details {
    padding: 30px 250px 30px 250px;
}

@media only screen and (max-width: 850px) {
    .Feature-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-self: center;

    }

    .photo-gallary {
        grid-template-columns: repeat(1, 1fr);


    }

    nav {
        justify-items: center;
    }

    nav>li {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        width: 100%;
    }

    .banner img {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }

    .experience {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;

    }

    .architect img {
        max-width: 250px;
        width: auto;

    }

    .Facts {
        margin-right: 100px;
    }

    .work-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-right: 100px;

    }

    .sponsors {
        margin-right: 50px;
    }

    .sponsors-logo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-right: 60px;

    }

    .footer-part {

        margin: auto;
    }

    .footer-details {
        padding: 10px;
    }
}